

@media only screen and (min-width: 1366px) {
    .menu-container {
        width: 1366px;
    }
}

.menu-container {
    width: 32%;

    display: flex;
    flex-direction: column;

    margin-left: 30px;
    margin-top: 50px;
}

.product-title {
    font-size: 23px;
    font-weight: 600;

    margin-bottom: 10px;
}

.product-type {
    font-size: 10px;
    font-weight: 700;

    color: #878787;
    margin-bottom: 20px;
}

.price {
    margin-bottom: 15px;

    color: #000000;

    font-size: 16px;
    font-weight: 600;
}

.product-catch-phrase {
    font-size: 15px;
    font-weight: 500;

    margin-bottom: 15px;
}

.warning-container {
    margin-top: 15px;

    display: flex;
    flex-direction: row;

    margin-bottom: 35px;
}

.warning {
    margin-right: auto;
}

.product-warning {
    font-size: 13px;
    font-weight: 700;
}

.product-suggestion {
    font-size: 13px;
    font-weight: 400;
    color: #878787;
}

.product-guide {
    font-size: 12px;
    font-weight: 600;
    text-decoration: underline;

    color: #000000;
}

#select {
    margin-bottom: 20px;
    
    border-radius: 0;
    border: 1px solid #dadada;
    box-shadow: none;

    color: #000000;
    font-weight: 700
}

#cart-button, #see-cart {
    width: 85%;

    text-align: left;
}

#cart-button, #wish-button, #see-cart {
    height: 50px;

    border: 0;
    border-radius: 0;

    background-color: #000000;
}

#wish-button {
    width: 14%;
    
    margin-left: 3px;
}

#see-cart {
    height: 50px;
    margin-top: 15px;

    border-radius: 5px;
    
    text-align: center;
}

option {
    height: 15px;
    width: 15px;
    
    background: #f7f7f7;
    color: rgb(0, 0, 0);
}

option:hover {
    background:rgb(0, 0, 0);
}

.size-warning {
    #cart-button {
        height: 10px;
    }

    #wish-button {
        height: 10px;
    }
}