.fem-products-row-container {
    height: 1840px;
}

.fem-products-row-title {
    margin: 32px 0 30px 0px;
    font-size: 38px;
}

.fem-products {
    height: 400px;

    display: grid;
    
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;

    margin-top: 15px;
}

@media only screen and (min-width: 1366px) {
   .fem-products-row-container {
     width: 1366px;
     margin: auto;
   }
 }

@media only screen and (max-width: 1145px) {
  .fem-products-row-container {
    height: 2300px;
  }
}

@media only screen and (max-width: 937px) {
  .fem-products-row-container {
    height: 3010px;
  }
}

@media only screen and (max-width: 700px) {
    .fem-products-row-container {
      height: 5810px;
    }
  }