.fem-products-row-container {
    height: 1700px;
    
    margin-bottom: 20px;
    padding-top: 100px;
}

.fem-products-row-title {
    margin: 32px 0 30px 40px;
    font-size: 38px;
}

.fem-products-row-all {
    margin-left: 40px;
}

.fem-products {
    height: 400px;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;

    margin-top: 15px;
}

@media only screen and (min-width: 1366px) {
    .fem-products-row-container {
      width: 1366px;
      margin: auto;
    }
  }
  