@media only screen and (min-width: 1366px) {
    .cart-section {
        width: 1070px;
        margin: auto;
    }
}

.cart-section {
    margin-top: 118px;

    display: flex;
    flex-direction: column;
}

.cart-title {
    height: 150px;

    text-align: center;

    background-color: #eeeeee;
}

#title {
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 0.01vh;

    margin-top: 50px;
    color: #000000;
}

.cart-container {
    margin-top: 25px;

    display: flex;
    flex-direction: row;
}

.items-container {
    width: 66%;
    margin-right: 2%;

    border: 1px solid #dadada;
}

.cart-overview {
    width: 32%;

    background-color: #eeeeee;
}

.cart-overview-title {
    padding: 12px 0 12px 0;

    font-size: 18px;
    font-weight: 600;
    text-align: center;
    
    border: 1px solid black;
}