.ads-container {

}

.adBox, .adBox-2 {
    width: 100%;
    height: 480px;
    border: 1px solid black;

    display: flex;
    flex-direction: row;
}

.adBox-2 {
    margin-top: 10px;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#ad-1 {
    width: 587px;
    border: 1px solid red;
}

#ad-2 {
    width: 408px;
}

#ad-3 {
    width: 371px;
}

#ad-4 {
    width: 633px;
    border: 1px solid orangered;
}

#ad-5 {
    width: 355px;
    border: 1px solid yellow;
}

#ad-6 {
    width: 378px;
    border: 1px solid purple;
}

@media only screen and (min-width: 1366px) {
    main {
      width: 1366px;
      margin: auto;
    }
}