@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

@media only screen and (min-width: 1366px) {
    main {
      width: 1366px;
      margin: auto;
    }
}

.ads-container {
    margin-top: 110px;
    font-family: "Metrophobic", sans-serif;
}

.adBox, .adBox-2 {
    width: 100%;
    height: 480px;

    display: flex;
    /* LATER: Write a @media only snippet that changes display to "inline block" if screen is not capafle of fitting images */
}

.background-img {
    height: 480px;
    background-size: cover;
    display: inline-block;
}

#ad-1 {
    width: 580px;
    
    background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) ), url('https://i.imgur.com/qjiG1Yz.png');
}

.ad-title {
    padding-top: 150px;
}

.ad-description {
    padding-top: 36px;
    padding-bottom: 15px;

    font-size: 15px;
}

.ad-buyButton {
    height: 30px;
    width: 165px;

    padding-top: 2%;
    border: 2px solid #000000;

    font-weight: 700;
    text-align: center;

    background-color: transparent;
}

.ad-buyButton:hover {
    cursor: pointer;

    color: #FFFFFF;
    background-color: #000000;
}

.background-text * {
    margin: auto;
    text-align: center;
}

#ad-2 {
    width: 408px;
    
    background-image: url(https://i.imgur.com/gA6WUtt.jpeg);
}

#ad-3 {
    width: 381px;
    
    background-image: url(https://i.imgur.com/Xl7pf3g.png);
}

.adBox-2 {
    margin-top: 10px;
}

#ad-4 {
    width: 650px;
    background-image: url(https://i.imgur.com/uUEoZrB.png);
}

#ad-5 {
    width: 544px;
    background-image: url(https://i.imgur.com/Rt9HMDU.gif);
}

#ad-6 {
    width: 361px;
    background-image: url(https://i.imgur.com/tGUki0R.gif);
}

/* 

----------------Above is MAIN ADS styling----------------
----------------Below is PRODUCTS ROW styling--------------------- 

*/