@import url('https://fonts.googleapis.com/css2?family=Metrophobic&display=swap');

footer {
    height: 400px;

    margin-top: 50px;

    display: flex;
    flex-direction: row;
}

footer section {
    height: 215px;
    width: 100%;

    text-align: center;

    border-left: 1px solid rgb(222, 222, 222);
}

footer p {
    letter-spacing: 0.08vh;
}

footer h4 {
    font-size: 15px;
}

footer img {
    height: 50px;
    width: 50px;
}

.newslatter-container {
    border: none;
}

.newslatter-container input {
    height: 50px;
    width: 250px;

    border: 1px solid #d2d2d2;

    margin-top: 15px;
}

.newslatter-container input::placeholder {
    padding-left: 10px;

    letter-spacing: 0.04vw;

    color: #b5b5b5;
}

.newslatter-container button {
    height: 50px;
    width: 50px;
}

.about-container {

}

.company-container {

}

.socials-container {

}