.items-container {
    display: flex;
    flex-direction: row;

    padding: 10px 10px;
}

.item-display {
    display: flex;
}

.item-img {
    height: 80px;
    width: 80px;

    margin-right: 10px;
    cursor: pointer;

    background-size: cover;
    background-image: url(https://converse.com.br/media/catalog/product/a/0/a06426c_a_107x1.jpg?optimize=high&bg-color=255,255,255&fit=bounds&height=897&width=960&canvas=960:897);
}

.item-name {
    cursor: pointer;

    font-size: 13px;
    font-weight: 700;
    text-decoration: underline;
}

.item-specifications {
    font-size: 12px;

    margin-top: 10px;
    margin-bottom: 20px;
}

.item-variation {
    margin-top: 10px;
}

.item-variation b {
    margin-right: 5px;
}

.items-handle {
    display: flex;
    flex-direction: row;

    margin-left: 60px;
}

.items-handle input {
    height: 30px;
    width: 30px;

    padding: 10px;
    padding-right: 4px;

    margin-right: 10px;

    border: 1px solid #dadada;
}

.item-price {
    font-size: 14px;
    font-weight: 600;

    margin-right: 90px;
}

.item-functions {
    display:flex;
}

.item-editing {
    font-size: 10px;
    font-weight: 700;

    text-decoration: underline;
}

.item-wish {
    margin-bottom: 10px;
}

.item-wish, .item-remove {
    cursor: pointer;
}

.items-handle input {
    width: 40px;
}

@media only screen and (max-width: 800px) {
    .items-container {
        flex-direction: column;
    }

    .item-functions {
        display: flex;
        flex-direction: column;
    }

    .items-handle,.item-price {
        margin: 0;
    }
}